<% provide(:title, 'All examinations') %>
<h1>All examinations</h1>

<%= will_paginate @examinations %>
<ul class="users">
  <%= render partial: "admin/examination", :collection => @examinations %>
</ul>
<%= will_paginate @examinations %>