<% provide(:title, 'All examinations') %>
<h1>All examinations</h1>

<ul class="users">
  <%= render partial: "admin/examination", :collection => @examinations %>
</ul>

<p>
  Download:
  <%= link_to "CSV", exports_path(format: "csv") %>
</p>
<p>
  <%= link_to "Upload", imports_path %>
</p>

