<% provide(:title, @user.full_name) %>
<h1>
  User
</h1>
<div class="row">
  <div class="span6 offset3">
    Full name: <%= @user.full_name %>
    <br>
    Email: <%= @user.email %>
    <br>
    Admin: <%= @user.admin_user? ? "Yes" : "No" %>
  </div>
</div>
<input type="button" onclick="__call_hr();" value="test">
<div id="__from_hr">empty<div>